.top_page_component {
  background-color: var(--white);
  height: 100%;
}

.top_page_header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 15px 30px;
  background-color: var(--general-bg);
}

.top_page_sort_area {
  display: grid;
  grid-template-columns: auto auto;
}
