.textarea {
  background: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 7px 15px;
  resize: none;
  font-family: var(--family);
}

.textarea:placeholder {
  font-size: 16px;
  line-height: 22px;
  color: var(--placeholder);
}
