.search-area {
  position: relative;
}

.search-area_input {
  width: 100%;
  padding-right: 35px;
}

.search-area_button {
  padding: 0;
  outline: none;
  border: none;
  background-color: var(--primary);
  position: absolute;
  right: 3px;
  top: 3px;
  width: 26px;
  height: 26px;
  border-radius: 5px;
  cursor: pointer;
}
