.sort_area {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
}
.sort {
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 10px;
}

.sort__active {
  color: var(--primary);
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.sort:hover {
  opacity: 0.8;
}
